.ButtonWrapper {
    display: flex;
    justify-content: center;
    div {
        margin: .5rem;
    }
}

.EditWrapper {
    color: green;
    font-size: 2rem;
    border: 1px solid black;
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
}