.ProjectTableWrapper {
    margin: 1rem 0;
    border: 3px dotted gray;
    h2 {
        font-style: italic;
        text-align: left;
        margin-left: 1rem;
    }
}
table {
    width: 100%;
    padding: 1rem;
    tr {
        th, td {
            width: 14%
        }
        th:first-child, td:first-child {
            text-align: left;
            width: 30%
        }
    }
}
.FlexWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    .ButtonsWrap {
        display: flex;
        max-width: 300px;
        width: 100%;
        button {
            margin-left: 1rem;
        }
    }
}

.MobileWrapper {
    border: 1px solid;
    padding: .25rem;
    margin-bottom: .25rem;
    .MobileDeliverable{
        display: flex;
        flex-direction: column;
        padding-bottom: .25rem;
        border-bottom: 1px dotted;
    }
    .MobileCheck{
        padding-bottom: .25rem;
        border-bottom: 1px dotted;
        display: flex;
        justify-content: space-around;
        .MobileCheckSingle {
            display: flex;
            flex-direction: column;
        }
    }
    .MobileStatus{
        display: flex;
        flex-direction: column;
        padding-bottom: .25rem;
    }
}
.MobileSubTitle {
    font-weight: 600;
    font-size: 1.125rem;
}