.ProjectTableWrapper {
    margin: 1rem 0;
    border: 3px dotted gray;
    h2 {
        font-style: italic;
        text-align: left;
        margin-left: 1rem;
    }
}
table {
    width: 100%;
    padding: 1rem;
    tr {
        th, td {
            width: 14%
        }
        th:first-child, td:first-child {
            text-align: left;
            width: 30%
        }
    }
}

.MobileWrapper {
    border: 1px solid;
    padding: .25rem;
    margin-bottom: .25rem;
    .MobileDeliverable{
        display: flex;
        flex-direction: column;
        padding-bottom: .25rem;
        border-bottom: 1px dotted;
    }
    .MobileCheck{
        padding-bottom: .25rem;
        border-bottom: 1px dotted;
        .MobileCheckState {
            display: inline-flex;
        }
    }
    .MobileStatus{
        display: flex;
        flex-direction: column;
        padding-bottom: .25rem;
    }
}
.MobileSubTitle {
    font-weight: 600;
    font-size: 1.125rem;
}